.menu {
  display: flex;
  width: 570px;
  height: 38px;
  justify-content: space-between;
  align-items: center;
}

.menu__item {
  list-style-type: none;
}

.menu__item_bonus {
  display: none;
  list-style-type: none;
}

@media (max-width: 320px) {
  .menu__item_bonus {
    display: block;
    list-style-type: none;
  }
  .menu__item {
    display: none;
  }
}

.menu__link {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: var(--main-text-color);
  transition: all .5s;
  cursor: pointer;
}

.menu__link:active {
  color: var(--main-button-text-color);
  font-size: 16px;
}

.menu__link:hover {
  color: var(--main-button-text-color);
  cursor: pointer;
  font-size: 15px;
}