.museum__block {
    background-color: var(--museum-background-color);
    top: 990px;
    width: 1920px;
}

.museum__block-info {
    width: 1920px;
    height: 466px;
    padding: 100px 195px 0px 195px;
    display: flex;
    justify-content: space-between;
}

.museum__block-title {
    width: 620px;
    height: 100px;
}

.museum__block-subtitle {
    width: 750px;
    height: 144px;
}

